<div class="footer">
    <div class="container">
       <div class="row text-center">
        <div class="col-12 col-sm-12">
            <p><span>Data settings</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span>Do not sell my personal information</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span>Privacy Policy</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span>Terms & Conditions</span></p>
        </div>
       </div>
       <div class="row">
        <div class="col-12 col-sm-12">
            <p>© 2023 | design by <a href="mailto:nyongeroclaude@gmail.com">Derek hack</a></p>
        </div>
       </div>
    </div>
</div>