
.header-two{
    background-color: white;
    height: auto;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-top: 2px solid black;
}
.logo-img{
    cursor: pointer;
}