.cont-bg{
    padding-top: 100px;
    padding-bottom: 100px;
}
.element-event{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: larger;
    // transition: 1s;
}
.element-event:hover{
    background-color: black;
    color: white;
}
.click-btn{
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}
.click-btn:hover{
    border-bottom: 2px solid black;
}
a{
    text-decoration: none;
    color: black;
}
.next-end{
    padding-top: 100px;
    padding-bottom: 100px;
}
.next-histories{
    background-color: #fcfafa;
}
.join-us{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #c9c9c9;
    color: white;
}