<section class="container-fluid">
    <section class="cont-bg">
        <div class="row">
            <div class="col-sm-3 mt-3 text-center">
                <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                <span class="element-event mt-3">T-Shirt</span>
            </div>
            <div class="col-sm-3 mt-3 text-center">
                <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                <span class="element-event mt-3">T-Shirt</span>
            </div>
            <div class="col-sm-3 mt-3 text-center">
                <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                <span class="element-event mt-3">T-Shirt</span>
            </div>
            <div class="col-sm-3 mt-3 text-center">
                <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                <span class="element-event mt-3">T-Shirt</span>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <a (click)="show_arrival()" class="click-btn">NEW ARRIVALS</a>
                    </div>
                    <div class="col-sm-4">
                        <a (click)="show_what_trading()" class="click-btn">WHAT'S TRADING</a>
                    </div>
                    <div class="col-sm-4">
                        <a (click)="show_member_exclusive()" class="click-btn">MEMBER EXCLUSIVES</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <hr>
        <div class="row">
            <div id="new_arrivals" *ngIf="new_arrival">
                <div>
                    <div class="row">
                        <p>NEW ARRIVALS</p>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="what_trading" *ngIf="what_trading">
                <div>
                    <div class="row">
                        <p>WHAT'S TRADING</p>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/tshirt.PNG" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/tshirt.PNG" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/tshirt.PNG" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/tshirt.PNG" class="img-fluid" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="member_exclusive" *ngIf="member_exclusive">
                <div>
                    <div class="row">
                        <p>MEMBER EXCLUSIVES</p>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <img src="assets/img/kagul.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="next-end">
        <p class="display-4">Beautiful</p>
        <div class="row">
            <div class="col-sm-8 mt-3">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/img/Corneille2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/img/untitle.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/img/Corneille2.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-sm-4 mt-3">
                <video class="img-fluid" controls [muted]="true">
                    <source src="/assets/video/corneille-habits.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>
</section>